body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* #root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
}