.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100vw;
    margin: 0 auto;
    column-gap: 20px;
    background-color: var(--color);
    border-radius: 50px;

    transition: background-color 0.3s ease;
}

.tabContainer {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: none;
}

.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 86px;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    margin: 10px auto;
    padding: 0;
    width: 250px;
    height: 1.5em;
}

.timeInput {
    width: 60px;
    font-size: 3rem;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    padding: 0;
    margin: 0;
}

.colon {
  font-size: 86px;
  font-weight: bold;
  color: inherit;
  user-select: none;
}

.incrementContainer {
    display: flex;
    gap: 55px;
    height: 40px;
    margin: none auto;
    width: auto;
}

.timerButton {
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background-color: var(--color);

    transition: background-color 0.3s ease;
}

.timerButton:hover {
    border: white solid 1px;
    transition: border 0.3s ease;
}

.controlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        border-radius: 25px;
    }
    .tabContainer {
        gap: 15px;
        flex-wrap: wrap;
    }

    .clockContainer {
        font-size: 64px;
        width: 200px;
    }

    .incrementContainer {
        gap: 20px;
        flex-wrap: wrap;
    }

    .controlsContainer {
        gap: 25px;
    }

    .timerButton {
        padding: 10px 15px;
        font-size: 14px;
        height: 40px;
    }
}


@media (max-width: 480px) {
    .tabContainer {
        gap: 5px;
        margin-top: 10px;
    }

    .timerButton {
        padding: 6px 6px;
        font-size: 10px;
        height: 30px;
    }

    .clockContainer {
        font-size: 48px;
        width: 150px;
    }

    .incrementContainer {
        gap: 10px;
        padding: 0;
        height: auto;
        margin: 0;
    }

    .controlsContainer {
        gap: 20px;
        margin: 10px;
    }
}
